<footer class="pt-4 pt-md-5 pb-2">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-3">
                <div class="d-inline-flex mb-2 align-items-center text-body-emphasis" href="/">
                    <img class="me-2" src="{{ url_for('static', filename='icons/favicon.ico') }}" alt="логотип" width="32" height="32">
                    <span class="fs-5 text-white">Vault</span>
                </div>
                <ul class="list-unstyled small">
                    <li class="mb-2">
                        Разработано и создано с любовью Никитой и командой во время хакатона MORE.Tech от ВТБ.
                    </li>
                    <li class="mb-2">
                        Исходный код доступен <a href="https://github.com/nikitagricanuk/dev-secrets-vault">здесь</a> и лицензирован по <a href="https://github.com/nikitagricanuk/dev-secrets-vault/blob/main/LICENSE">Apache License 2.0</a>.
                    </li>
                </ul>
            </div>
            <div class="col-auto list-unstyled me-3">
                <h5 class="align-items-center">Основной сайт</h5>
                {% include "components/_navigation.html" %}
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-sm">
                <p>© 2024. Все права защищены. Сделано с 🧡 @nikitagricanuk ^^</p>
            </div>
            <div class="col-sm-2 justify-content-center">
                <a href="https://vk.com/nikitagricanuk" target="_blank" class="text-decoration-none">
                    <img src="{{ url_for('static', filename='icons/vk.svg') }}" alt="иконка ВКонтакте" />
                </a>
                <a href="https://t.me/nikitagricanuk" target="_blank" class="text-decoration-none">
                    <img src="{{ url_for('static', filename='icons/telegram.svg') }}" alt="иконка Telegram" />
                </a>
                <a href="mailto:me@ngctl.ru" target="_blank" class="text-decoration-none">
                    <img src="{{ url_for('static', filename='icons/mail.svg') }}" alt="иконка электронной почты" />
                </a>
            </div>
        </div>
    </div>
</footer>