<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p>Try scrolling the rest of the page to see this option in action.</p>
    </div>
</div>
<nav class="navbar navbar-expand-md bs-body border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='icons/logo.png') }}" alt="logo" width="32" height="32">
            Vault
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#offcanvasWithBothOptions" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>              
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left-aligned navigation links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% include "components/_navigation.html" %}
            </ul>

            <!-- Right-aligned login content -->
            <ul class="navbar-nav ms-auto">
                {% include "components/_user_profile_section.html" %}
            </ul>
        </div>
    </div>
</nav>