{% extends 'layouts/dashboard.html' %}
{% block content %}
    <h1 class="text-center">How to use this dashboard???</h1>
    <div class="row">
        <div class="col">
            <h2 class="">I guess you already know that. Overall, this entire page is just an a excuse to post this cute cat ^^</h5>
            <p>PS: Since the author hasn't touched grass in a while while working on this project, the mobile version
                might be a little off. So, excuse me! If you want perfection, adapt it yourself. The <a href="https://github.com/nikitagricanuk/dev-secrets-vault-frontend">GitHub repo</a> will be open
                once I score 5 points for this coursework project. :D
            </p>
            <p>PPS: For those interested, the API documentation is available 
                <a href="https://api.vault.nikitagricanuk.ru/docs">here</a> 
                as a Swagger page and partially 
                <a href="https://github.com/nikitagricanuk/dev-secrets-vault/blob/main/README.md">here</a> 
                in the README file.
            </p>        
        </div>
        <div class="col">
            <img src="{{ url_for('static', filename='images/cat.png') }}" alt="cute cat" class="img-fluid rounded mb-2 mx-2">
        </div>
    </div>
{% endblock %}