{% extends 'layouts/dashboard.html' %}
{% block content %}
    <h1 class="text-center">How to use this dashboard???</h1>
    <div class="row">
        <div class="col">
            <h2 class="">I guess you already know that. Overall, this entire page is just an a excuse to post this cute cat ^^</h5>
        </div>
        <div class="col">
            <img src="{{ url_for('static', filename='images/cat.png') }}" alt="cute cat" class="img-fluid rounded mb-2 mx-2">
        </div>
    </div>
{% endblock %}