.sidebar-link {
    display: flex; /* Use flexbox for alignment and stretching */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    width: 100%; /* Makes the element take the full width of the parent */
    padding: 10px 15px;
    border-radius: 8px; /* Keeps the rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */

    text-align: center;
}

.sidebar-link:hover {
    background-color: rgba(63, 114, 175, 0.6); /* Light blue background, adjust color and opacity */
}

.sidebar {
    min-width: 195px;
}

.sidebar-collapsed {
    min-width: 65px;
}

.sidebar-collapsed-link {
    width: 100%; /* Makes the element take the full width of the parent */
    padding: 10px 10px;
    border-radius: 8px; /* Keeps the rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
    text-align: center;
}

.sidebar-collapsed-link:hover {
    background-color: rgba(63, 114, 175, 0.6); /* Light blue background, adjust color and opacity */
}