.brushstroke {
    position: relative;
}

.brushstroke::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; /* Adjusts vertical positioning */
    width: calc(100% + 0.4em);
    height: 5px; /* Decrease height to fit the smaller font */
    background-image: url('/static/icons/brushstroke.svg'); /* Path to your SVG file */
    background-repeat: no-repeat;
    background-size: contain; /* Keeps the aspect ratio of the brush stroke */
}

.profile-circle {
    width: 32px;
    height: 32px;
    background-color: #3F72AF; 
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50%; /* Make it a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}