{% extends 'layouts/main.html' %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row my-3">
                <div class="col-auto">
                    <img class="rounded" src="{{ url_for("static", filename="images/author.jpeg") }}" alt="authors photo" height="auto" width="250px">
                </div>
                <div class="col-lg-6">
                    <h1>About me</h1>
                    <p>
                        Hello! My name is Nikita, I am a student at IRNITU, 
                        passionate about programming and DevOps. 
                        I am working on this website as part of a coursework 
                        project, but that is not its only purpose. It also serves 
                        as a simple way to showcase the solution my team and I 
                        developed during the MORE.Tech hackathon by VTB. I hope 
                        you enjoy this website.
                    </p>
                    <p>
                        Thanks for stopping by!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
