{% extends 'layouts/main.html' %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row my-3">
                <div class="col-auto">
                    <img class="rounded" src="{{ url_for('static', filename='images/author.jpeg') }}" alt="фото автора" height="auto" width="250px">
                </div>
                <div class="col-lg-6">
                    <h1>Обо мне</h1>
                    <p>
                        Привет! Меня зовут Никита, я студент ИРНИТУ, 
                        увлекаюсь программированием и DevOps. 
                        Я работаю над этим сайтом в рамках курсового 
                        проекта, но это не единственная его цель. С его помощью вы
                        также сможете узнать о решении, которое моя команда и я 
                        разработали во время хакатона MORE.Tech от ВТБ. Надеюсь, 
                        вам понравится этот сайт.
                    </p>
                    <p>
                        Спасибо, что заглянули!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}