{% extends 'layouts/main.html' %}
{% block content %}
    <div class="container my-3">
        <div>
            <h5>Знаете ли вы, что</h5>
            <h1>Глоссарий</h1>
            <p>существительное: Список часто сложных или специализированных слов с их определениями, часто размещаемый в конце книги.</p>
        </div>
        <div class="accordion" id="usersAccordion">
            <!-- Data Breach -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingDataBreach">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#dataBreach" aria-expanded="true" aria-controls="dataBreach">
                        Утечка Данных
                    </button>
                </h2>
                <div id="dataBreach" class="accordion-collapse collapse show" aria-labelledby="headingDataBreach" data-bs-parent="#usersAccordion">
                    <div class="accordion-body">
                        Несанкционированный доступ или раскрытие конфиденциальной информации, часто приводящее к финансовым потерям и ущербу репутации.
                    </div>
                </div>
            </div>

            <!-- Secret Management -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSecretManagement">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#secretManagement" aria-expanded="false" aria-controls="secretManagement">
                        Управление Секретами
                    </button>
                </h2>
                <div id="secretManagement" class="accordion-collapse collapse" aria-labelledby="headingSecretManagement" data-bs-parent="#usersAccordion">
                    <div class="accordion-body">
                        Практика безопасного хранения, доступа и обмена конфиденциальной информацией, такой как пароли, API-ключи и сертификаты.
                    </div>
                </div>
            </div>

            <!-- Vault -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingVault">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#vault" aria-expanded="false" aria-controls="vault">
                        Vault
                    </button>
                </h2>
                <div id="vault" class="accordion-collapse collapse" aria-labelledby="headingVault" data-bs-parent="#usersAccordion">
                    <div class="accordion-body">
                        Система или программное обеспечение, предназначенное для безопасного управления секретами и контроля доступа для приложений.
                    </div>
                </div>
            </div>

            <!-- MORE.Tech Hackathon -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingMoreTech">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#moreTech" aria-expanded="false" aria-controls="moreTech">
                        Хакатон MORE.Tech
                    </button>
                </h2>
                <div id="moreTech" class="accordion-collapse collapse" aria-labelledby="headingMoreTech" data-bs-parent="#usersAccordion">
                    <div class="accordion-body">
                        Инновационное мероприятие, где команды разрабатывают прототипы и решения, организованное ВТБ.
                    </div>
                </div>
            </div>

            <!-- HashiCorp Vault -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingHashiCorp">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#hashiCorp" aria-expanded="false" aria-controls="hashiCorp">
                        HashiCorp Vault
                    </button>
                </h2>
                <div id="hashiCorp" class="accordion-collapse collapse" aria-labelledby="headingHashiCorp" data-bs-parent="#usersAccordion">
                    <div class="accordion-body">
                        Популярный коммерческий инструмент для безопасного управления секретами, предоставляющий функции шифрования и контроля доступа.
                    </div>
                </div>
            </div>

            <!-- Encryption -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEncryption">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#encryption" aria-expanded="false" aria-controls="encryption">
                        Шифрование
                    </button>
                </h2>
                <div id="encryption" class="accordion-collapse collapse" aria-labelledby="headingEncryption" data-bs-parent="#usersAccordion">
                    <div class="accordion-body">
                        Процесс преобразования информации в закодированный формат для предотвращения несанкционированного доступа.
                    </div>
                </div>
            </div>

            <!-- RESTful API -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingRestfulAPI">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#restfulAPI" aria-expanded="false" aria-controls="restfulAPI">
                        RESTful API
                    </button>
                </h2>
                <div id="restfulAPI" class="accordion-collapse collapse" aria-labelledby="headingRestfulAPI" data-bs-parent="#usersAccordion">
                    <div class="accordion-body">
                        Интерфейс прикладного программирования (API), следующий принципам REST, позволяющий приложениям беспрепятственно обмениваться данными через веб.
                    </div>
                </div>
            </div>

            <!-- Latency -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingLatency">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#latency" aria-expanded="false" aria-controls="latency">
                        Задержка
                    </button>
                </h2>
                <div id="latency" class="accordion-collapse collapse" aria-labelledby="headingLatency" data-bs-parent="#usersAccordion">
                    <div class="accordion-body">
                        Время, необходимое системе для обработки запроса и ответа на него.
                    </div>
                </div>
            </div>

            <!-- Seamless Integration -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeamlessIntegration">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#seamlessIntegration" aria-expanded="false" aria-controls="seamlessIntegration">
                        Бесшовная Интеграция
                    </button>
                </h2>
                <div id="seamlessIntegration" class="accordion-collapse collapse" aria-labelledby="headingSeamlessIntegration" data-bs-parent="#usersAccordion">
                    <div class="accordion-body">
                        Возможность интегрировать инструмент или систему в существующие приложения без значительных усилий или перебоев.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/accordion.js') }}"></script>
{% endblock %}