{% extends 'layouts/main.html' %}
{% block content %}
    <div class="container">
        <div>
            <h5>Did you know that</h5>
            <h1>Glossary</h1>
            <p>noun: A list of often difficult or specialized words with their definitions, often placed at the back of a book.</p>
        </div>
        <ul>
            <li><strong>Data Breach</strong>: The unauthorized access or disclosure of confidential information, often leading to financial and reputational damage.</li>
            <li><strong>Secret Management</strong>: The practice of securely storing, accessing, and sharing sensitive information such as passwords, API keys, and certificates.</li>
            <li><strong>Vault</strong>: A system or software designed for securely managing secrets and access controls for applications.</li>
            <li><strong>MORE.Tech Hackathon</strong>: An innovation event where teams develop prototypes and solutions, in this case, hosted by VTB.</li>
            <li><strong>HashiCorp Vault</strong>: A popular commercial tool for secure secret management, providing encryption and access control features.</li>
            <li><strong>Encryption</strong>: The process of converting information into a coded format to prevent unauthorized access.</li>
            <li><strong>RESTful API</strong>: An application programming interface (API) that follows REST principles, allowing applications to communicate seamlessly over the web.</li>
            <li><strong>Latency</strong>: The delay or time taken for a system to process a request and respond.</li>
            <li><strong>Seamless Integration</strong>: The ability to incorporate a tool or system into existing applications without significant effort or disruption.</li>
        </ul>
    </div>
{% endblock %}