{% extends '_layout.html' %}
{% block content %}
    <h1>Vault</h1>
    <p>Этот сайт - панель управления для проекта Vault (<a href="https://github.com/nikitagricanuk/dev-secrets-vault">GitHub</a>),
        который мы с Андреем, Альфией и Вадимом разработали в рамках хакатона MORE.Tech от ВТБ. Он же будет и моей курсовой 
        по дисциплине "Введение в веб-технологии". Раз уж этот фронтенд будет в свободном доступе, пусть он будет способом потыкать наш проект 
        для всех желающих (RIP мой сервак, которому и так досталось во время разработки)</p>
    <p>HashiCorp Vault - очень популярная система управления секретами, от которой пришлось отказаться ввиду санкций 
        (ну и измененной политики лицензирования). Vault - наша альтернатива оригинальному решение от HashiCorp,
        она не такая крутая как коммерческое решение, но зато она наша ^^.
        TODO: этот текст определенно стоит переписать...</p>

{% endblock %}
