{% extends 'layouts/main.html' %}
{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col">
                <h1>Safety matters</h1>
                <p>
                    In 2023, the average cost of a <a href="/glossary#dataBreach" data-toggle="collapse" data-parent="#accordion">data breach</a> reached an all-time high 
                    of $4.45 million, marking a 15.3% increase from 2020. 
                    <span class="cite">[Source: 
                        <a href="https://www.upguard.com/blog/cost-of-data-breach">UpGuard</a>]
                    </span> 
                    Alarmingly, 74% of all breaches involved the human element, underscoring 
                    the critical need for robust <a href="/glossary#secretManagement">secret management</a> solutions. 
                    <span class="cite">[Source: 
                        <a href="https://www.infosecinstitute.com/resources/security-awareness/human-error-responsible-data-breaches/">Infosec Institute</a>]
                    </span>
                </p>
                <p>
                    Introducing <a href="/glossary#vault">Vault</a>—a modern <a href="/glossary#secretManagement">secret management</a> system developed during the 
                    <a href="/glossary#moreTech">MORE.Tech Hackathon</a> by VTB as an alternative to commercial solutions like 
                    <a href="/glossary#hashiCorp">HashiCorp Vault</a>. Our platform offers a user-friendly and flexible approach to 
                    handling secrets for your applications. With <a href="/glossary#vault">Vault</a>, you can:
                </p>
            </div>
            <div class="col">
                <img class="rounded" src="{{ url_for('static', filename='images/vault.png') }}" alt="Vault" height="400px" width="400px">
            </div>
        </div>
        <div class="row justify-content-evenly">
            <div class="col-3 d-flex flex-column align-items-center text-center">
                <img src="{{ url_for('static', filename='icons/rocket.gif') }}" alt="rocket" height="64px" width="64px">
                <h5>Incredibly Fast</h5>
                <ul class="list-unstyled">
                    <li>Quick deployment and integration</li>
                    <li>Optimized for high-performance operations</li>
                    <li>Minimal <a href="/glossary#latency">latency</a> in secret retrieval</li>
                </ul>
            </div>
            <div class="col-3 d-flex flex-column align-items-center text-center">
                <img src="{{ url_for('static', filename='icons/handshake.gif') }}" alt="handshake" height="64px" width="64px">
                <h5>Trustworthy</h5>
                <ul class="list-unstyled">
                    <li>Robust <a href="/glossary#encryption">encryption</a> standards</li>
                    <li>And something else, come up with this later...</li>
                </ul>
            </div>
            <div class="col-3 d-flex flex-column align-items-center text-center">
                <img src="{{ url_for('static', filename='icons/airplane.gif') }}" alt="shield" height="64px" width="64px">
                <h5>Flexible</h5>
                <ul class="list-unstyled">
                    <li>Seamless <a href="/glossary#seamlessIntegration" data-toggle="collapse" data-parent="#accordion">integration</a> via <a href="/glossary#restfulAPI">RESTful API</a></li>
                    <li>Customizable to meet diverse application needs</li>
                </ul>
            </div>
        </div>
        <p>
            We are committed to providing developers with complete control over access 
            to confidential data, ensuring a high level of security and seamless 
            integration. Vault is your adaptable tool for secure secret storage, designed 
            to meet the diverse requirements of your applications.
        </p>
    </div>
{% endblock %}