<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href="static/css/styles.css" type="text/css"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Сайт о котиках</title>
    </head>
    <body>
        <div class="header">
            {% include "components/_navigation.html" -%}
        </div>
        <h1>Котики</h1>
        <p>Котики - самые милые создания на планете земля. Они бывают милые (= const), пушистые, мурчащие.  На этом сайте вы найдете фотки и описание 4-х моих самых любимых питомцев: Кроша, Брюса, Кнопы и Бимки.</p>
        <h2>Виды котиков:</h2>
        <ul>
            <li>милые (общее свойство, константа для всех котиков)</li>
            <li>пушистые</li>
            <li>еще какие то, потом придумаю</li>
        </ul>
        <div class="footer">
            <p>Самый лучший сайт о котиках в мире © 2024</p>
        </div>
    </body>
</html>