{% extends 'layouts/login.html' %}
{% block content %}
    <h1>Регистрация</h1>
    <div class="form-group">
        <label for="username">Имя пользователя</label>
        <input type="username" class="form-control" id="username" name="username" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <a href="/login">Уже есть аккаунт? Войти</a>
    <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
{% endblock %}


